<p><%= @heroine.super_name %></p>
<p><%= @heroine.name %></p>
<p><a href='/powers/<%= @heroine.power.id %>'> <%= @heroine.power.name %></a></p>
<a href='/heroines'> All Heroines</a></div>

<p>--------------